* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----------------------------------------- */
.header {
  background-color: none;
  width: auto;
  height: auto;
}
.header .grid-container {
  background-color: none;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 100px;

  /* display: flex;
  justify-content: center; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 10px;
}

.header .grid-item {
  background-color: none;
  height: auto;

  margin: 10px;
}

.header img {
  width: 100%;
  border-radius: 8px;
}

.header .image {
  width: 433px;
}

.header h1 {
  font-size: 30px;
}

.header h2 {
  font-size: 20px;
  padding-top: 20px;
}

/* ----------------------------------------- */
.section {
  background-color: #f2f2f2;
  width: auto;
  height: auto;
}

.section .grid-container {
  background-color: none;
  max-width: 1500px;
  margin: 0px auto;
  padding: 200px 20px 200px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 36px;
}

.section .grid-item {
  background-color: none;
}

.section img {
  width: 100%;
  border-radius: 8px;
}

.section .project-name {
  float: left;
}

.section .project-type {
  float: right;
}

.section .project-name {
  font-size: 13px;
  color: #3d3d4e;
  font-weight: bold;
}

.section .project-type {
  font-size: 13px;
  color: #9191a7;
  font-weight: light;
}

.button {
  height: 50px;
  text-align: center;
  background-color: yellowgreen;
}

button {
  width: 100px;
}

/* ----------------------------------------- */
.footer {
  background-color: none;
  width: auto;
  height: auto;
}

.footer .grid-container {
  background-color: none;

  height: auto;
  max-width: 1500px;
  margin: 0 auto;
  padding: 50px 20px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 36px;
}

.footer .grid-item {
  background-color: none;
  height: autopx;
  /* margin: 50px 0; */
}

.footer .title {
  font-size: 13px;
  color: #3d3d4e;
  font-weight: bold;
}

.footer .content-container {
  margin-top: 10px;
}

.footer .content {
  font-size: 13px;
  color: #9191a7;
  font-weight: light;
  padding: 2px 0;
}
