a {
  text-decoration: none;
}

.outlineButton .outlineButtonText {
  color: #6200ee;
}

.outlineButton {
  background-color: white;
  border-radius: 4px;
  border: 1px solid #6200ee;
  cursor: pointer;

  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin: 30px 20px 0px 0px;
  text-align: center;
  /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5); */
}

.outlineButton:hover {
  /* box-shadow: 0 2.5px 9px rgba(0, 0, 0, 0.4); */
  background-color: #f5edff;
}
